@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Bebas+Neue&family=Dongle:wght@300;400;700&family=Montserrat+Alternates:wght@300&family=Montserrat:wght@100;400;500;700&family=Nunito:wght@200;300;400;600;700&family=Oswald:wght@200;300&family=Quicksand:wght@300;400;500;600;700&family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,400&family=Rock+3D&family=Shadows+Into+Light&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  background: linear-gradient(#2b1055, #7597de); 
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
}

.navbar img {
  width: 30px;
  height: 30px;
  margin-top: -4px;
}

.navbar .navbar-brand {
  color: white;
  position: relative;
  font-weight: 700;
  font-family: 'Dongle', sans-serif;
  font-size: 3rem;
  margin-left: 0.2em;
  text-shadow: 2px 1px black;
}

.navbar-nav .nav-item .nav-link{
  text-decoration: none;
  padding: 6px 15px;
  color: #fff;
  border-radius: 10px;
}

.navbar-nav .nav-item .nav-link:hover {
  color: #2b1055;
  background: #fff;
}

section {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

section::before{
content: '';
position: absolute;
bottom: 0;
width: 100%;
height: 100px;
background: linear-gradient(to top, #1c0522,transparent);
z-index: 10000;
}

section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}
section img#moon {
  mix-blend-mode: screen;
}
section img#mountains_front {
  z-index: ;
}
#text {
  position: absolute;
  font-family: 'Shadows Into Light';
  color: #fff;
  white-space: nowrap;
  font-size: 7.5vw;
  z-index: 9;
  text-shadow: 2px 2px black;
}
#btn {
  text-decoration: none;
  display: inline-block;
  padding: 8px 30px;
  border-radius: 10px;
  background: #fff;
  color: #2b1055;
  font-size: 1.5em;
  z-index: 9;
  transform: translateY(100px);
}

#btn:hover{
  background-color: rgba(255,255,255,0.2);
}

.sec {
  position: relative;
  padding: 100px;
  background: #1c0522;
}

.sec h2 {
font-size: 3.5em;
margin-bottom: 10px;
color: #fff;
}

.sec p {
font-size: 1em;
color: #fff;
}
